<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Métodos de Pago</h1>
    <p class="page-sub">Gestiona los métodos de pago disponibles</p>
  </div>

  <app-data-table
    title="Métodos de Pago"
    [columns]="columns"
    [data]="items()"
    [loading]="loading()"
    (addItem)="openAdd()"
    (editItem)="openEdit($event)"
    (deleteItem)="delete($event)">
  </app-data-table>
</div>

<app-modal-form
  title="Método de Pago"
  [isEdit]="isEdit()"
  [visible]="modalVisible()"
  [form]="form"
  (submitted)="submit()"
  (cancelled)="modalVisible.set(false)">

  <form [formGroup]="form">
    <div class="field">
      <label>Nombre *</label>
      <input type="text" formControlName="name" placeholder="Ej: Tarjeta BCP, Yape..." />
    </div>
    <div class="field">
      <label>Tipo *</label>
      <select formControlName="idType">
        <option [ngValue]="null">Seleccionar tipo...</option>
        @for (t of types(); track $index) {
          <option [value]="t.idType">{{ t.name }}</option>
        }
      </select>
    </div>
  </form>

</app-modal-form>