<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Categorías</h1>
    <p class="page-sub">Administra las categorías de gastos</p>
  </div>

  <app-data-table
    title="Categorías"
    [columns]="columns"
    [data]="items()"
    [loading]="loading()"
    (addItem)="openAdd()"
    (editItem)="openEdit($event)"
    (deleteItem)="delete($event)">
  </app-data-table>
</div>

<app-modal-form
  title="Categoría"
  [isEdit]="isEdit()"
  [visible]="modalVisible()"
  [form]="form"
  (submitted)="submit()"
  (cancelled)="modalVisible.set(false)">

  <form [formGroup]="form">
    <div class="field">
      <label>Nombre *</label>
      <input type="text" formControlName="name" placeholder="Nombre de categoría" />
    </div>
    <div class="field">
      <label>Descripción *</label>
      <textarea rows="3" formControlName="description" placeholder="Descripción de la categoría"></textarea>
    </div>
  </form>

</app-modal-form>